* text eol=lf

*.sln text eol=crlf
*.*proj text eol=crlf
*.*proj.* text eol=crlf

*.[Jj][Pp][Gg] binary
*.[Gg][Ii][Ff] binary
*.[Pp][Nn][Gg] binary

*.[Xx][Cc][Ff] filter=lfs diff=lfs merge=lfs -text
